.posts-section {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.posts-section .post {
    border: 2px solid #AAA;
    width: 30%;
    margin-left: 20px;
}

.posts-section .author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
    margin-bottom: 20px;
    margin: 10px 20px;
}

.posts-section .author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.posts-section .author p {
    font-weight: bold;
}

.posts-section .post .post-image {
    width: 100%;
    margin-bottom: 10px;
}

.posts-section .post .post-icons i {
    font-size: 24px;
    margin-left: 15px;
}

.posts-section .post .post-likes {
    font-weight: bold;
    margin : 10px 0 15px 15px;
}